*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill{
    width: 160px;
    height: 160px;
    position: relative;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(7, 151, 161, 0.15),
                -6px -6px 10px -1px rgba(7, 151, 161, 0.7);
    padding: 18px;
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.2),
                    -4px -4px 6px -1px rgba(0, 0, 0, 0.7),
                    -0.5px -0.5px 0px rgb(0, 0, 0,1),
                    0.5px 0.5ox 0px rgba(255, 255, 255, 0.15),
                    0px 12px 10px -10px rgba(255, 255, 255, 0.05) ;
} 

#number{
    color: white;
    font-weight: 600;
}

circle{
    fill: none;
    stroke:  #009688;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 84;
    }
}